apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  labels:
    helm.sh/chart: {{ include "chartDetail" . }}
  name: {{ include "clusterName" . }}
  namespace: {{ .Values.namespace }}
spec:
  bootstrap:
    initdb:
      database: {{ include "databaseName" . }}
      dataChecksums: {{ .Values.cluster.spec.bootstrap.initdb.dataChecksums }}
      owner: {{ include "ownerName" . }}
  imageName: {{ .Values.cluster.spec.imageName }}
  instances: {{ .Values.cluster.spec.instances }}
  managed:
    roles:
    - comment: Read-only user template
      name: {{ include "readonlyRoleName" . }}
  primaryUpdateMethod: {{ .Values.cluster.spec.primaryUpdateMethod }}
  primaryUpdateStrategy: {{ .Values.cluster.spec.primaryUpdateStrategy }}
  storage:
    size: {{ .Values.cluster.spec.storage.size }}
    storageClass: {{ .Values.cluster.spec.storage.storageClass }}
  walStorage:
    size: {{ include "walStorageSize" . }}
    storageClass: {{ .Values.cluster.spec.walStorage.storageClass }}